{
  "presets": ["env","stage-0","react"],
  "plugins": ["react-hot-loader/babel"]
}
//Without any configuration options, babel-preset-env behaves exactly the same as babel-preset-latest 
//(or babel-preset-es2015, babel-preset-es2016, and babel-preset-es2017 together).//"presets": ["env"]